.logo {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    color: rgb(156, 15, 15);
    font-size: 28px;
  }

  header {
    width: 1440px;
    height: 68px;
    padding-left: 16px 180px 16px 180px;
    border-bottom: 1px solid --orange; /* Assumindo que você queria uma borda inferior */
    justify-content: space-between; /* Supondo que você queria usar justify-content em um contêiner flexível */
  }
  