header {
  border-bottom: 1px solid #FF9800; 
  /* ver cor */
  padding: 10px 70px;
}

.main {
  margin: 20px 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.logo {
  width: 100px;
  height: auto;
}

.links {
  list-style-type: none;
  display: flex;
}

.links li {
  margin-left: 10px;
}

.links li:first-child {
  margin-left: 0;
}

.links a {
  color: white;
    /* ver cor */
  text-transform: uppercase;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}