.movie-card {
    display: flex;
    margin: 20px 0;
    overflow: hidden;
}

.movie-poster img {
    width: 175px;
    height: 263px;
    object-fit: cover;
}

.movie-info {
    padding: 0 20px 20px;
    flex-grow: 1;
}

.movie-actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.btn-details,
.btn-watchlist {
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.btn-details {
    width: 137px;
    height: 36px;
    padding: 0px, 16px, 0px, 16px;
    border-radius: 36px;
    gap: 16px;
    
}

.btn-watchlist {
    width:  235px;
    height: 36px;
    padding: 0px, 16px, 0px, 16px;
    border-radius: 48px;
    border: 1px;
    gap: 16px;
    background-color: var(--background);
    color: var(--text);
    border: 1px solid white;
}