.search-input-container {
  position: relative;
  display: inline-block;
  width: 100%;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
}

.search-input {
  padding: 12px 20px 12px 20px;
  width: 100%;
  background: transparent;
  border: none;
  font-size: 14px;
  border-radius: 10px;
}

.search-btn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

img {
  padding: 8px 12px;
}
